[user]
	name = Laplusdestiny
	email = laplusdestiny@laplusdestiny.com
[alias]
	vacuum = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|main|master'|xargs git branch -d; };f"
[core]
	quotepath = false
	editor = nano
[commit]
	verbose = true
[rerere]
	enabled = true
